{% extends 'base.html.twig' %}
{% block title 'article' %}

{% block body  %}




    <div class="container mt-4">

        <h1>Proprety Page</h1>
        <p>lorem ipsum hello word</p>

    </div>



{% endblock %}