{% extends 'base.html.twig' %}
{% block title 'article' %}

{% block body  %}




    <div class="container mt-4">
        <h1>Proprety Page</h1>

       {% include 'proprety/_proprety.html.twig' %}
    </div>



{% endblock %}